body{
    margin: 0%;
    font-family:courier;
}
.container{
    width: 1440px;
    max-width: 150%;
    margin: auto;
}
header{
    box-shadow: 0px 1px 6px black;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}
section.logo{
    font-size: 27px;
    span.dot2{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color:coral;
    border-radius: 5px;
    vertical-align: middle;
}
}

span.dot{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: coral;
    border-radius: 25;
    vertical-align: middle;
}
ul{
    list-style-type: none;
    li{
        font-size: 20px;
        margin: 26px;
        display: inline-block;
        a{
            text-decoration: none;
        }
    }
    li.last-ftype{
        margin-right:35%;
    }
}